AzureSphere_HighLevelApp/.vs/
WindowsApp/.vs/
WindowsApp/MessageProtocol/bin/
WindowsApp/MessageProtocol/obj/
WindowsApp/WifiSetupAndDeviceControlViaBle/bin/
WindowsApp/WifiSetupAndDeviceControlViaBle/obj/
